body {
	font-family: Arial, sans-serif;
	background-color: grey;
	margin: 0;
	padding: 0;
}
.apps {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	max-width: 500px;
	width: 80%;
	margin: auto;
	padding: 20px;
}
.todo-app,
.modal-app {
	width: 100%;
	margin: 20px;
	padding: 30px;
	border-radius: 10px;
	background-color: cadetblue;
	font-size: 30px;
	color: rgb(1, 69, 73);
	font-weight: bold;
	box-shadow: 0 4px 6px rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.title-bar {
	text-align: center;
	border-bottom: 2px solid rgb(101, 101, 101);
	color: rgb(16, 87, 90);
	font-size: 40px;
	text-decoration: solid;
	text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}
