/* App.css */
body {
    font-family: Arial, sans-serif;
    background-color: grey;
    margin: 0;
    padding: 0;
  }
  
  .app-container {
    background: rgb(151, 150, 150);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  .title-bar{
    text-align: center  ;
    border-bottom: 2px solid grey;
    color: rgb(69, 69, 69);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .main-form{
    background-color: aquamarine;
    margin: auto;
    display: flex;
    align-items:baseline;
    justify-content:flex-start;
    flex-direction: column;
    padding: 10px;
  }
  

